{% extends 'base.html.twig' %}

{% block title %}Spe index{% endblock %}

{% block body %}
    <h1>Spe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for spe in spes %}
            <tr>
                <td>{{ spe.id }}</td>
                <td>{{ spe.name }}</td>
                <td>
                    <a href="{{ path('spe_show', {'id': spe.id}) }}">show</a>
                    <a href="{{ path('spe_edit', {'id': spe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('spe_new') }}">Create new</a>
{% endblock %}
